:root {
  /* SpinKit */
  --sk-size: 50px;
  --sk-color: white;
  /* Halfmoon / BootStrap */
  /* --bs-primary: var(--bs-warning); */
  --bs-primary: var(--bs-warning);
  --bs-primary-rgb: var(--bs-warning-rgb);

  --bs-link-color-rgb: var(--bs-primary-rgb);

  --bs-btn-bg: var(--bs-warning); /* Button background color */
  --bs-btn-border-color: var(--bs-warning); /* Button border color */
  --bs-btn-text-color: black; /* Button text color */

  /* --bs-btn-primary */
    /* --bs-primary-saturation: var(--bs-yellow-saturation); */
    /* --bs-primary-foreground-hsl: var(--bs-yellow-foreground-hsl);
    --bs-primary-foreground: var(--bs-yellow-foreground);
    --bs-primary-text-emphasis-hsl: var(--bs-yellow-text-emphasis-hsl);
    --bs-primary-text-emphasis: var(--bs-yellow-text-emphasis);
    --bs-primary-hover-bg: var(--bs-yellow-hover-bg);
    --bs-primary-active-bg: var(--bs-yellow-active-bg);
    --bs-primary-bg-subtle: var(--bs-yellow-bg-subtle);
    --bs-primary-border-subtle: var(--bs-yellow-border-subtle);
    --bs-primary-checkbox-svg: var(--bs-yellow-checkbox-svg);
    --bs-primary-dash-svg: var(--bs-yellow-dash-svg);
    --bs-primary-radio-svg: var(--bs-yellow-radio-svg);
    --bs-primary-switch-svg: var(--bs-yellow-switch-svg); */

  /* --bs-secondary-hue: var(--bs-orange-hue);
    --bs-secondary-saturation: var(--bs-orange-saturation);
    --bs-secondary-100-hsl: var(--bs-orange-100-hsl);
    --bs-secondary-200-hsl: var(--bs-orange-200-hsl);
    --bs-secondary-300-hsl: var(--bs-orange-300-hsl);
    --bs-secondary-400-hsl: var(--bs-orange-400-hsl);
    --bs-secondary-500-hsl: var(--bs-orange-500-hsl);
    --bs-secondary-600-hsl: var(--bs-orange-600-hsl);
    --bs-secondary-700-hsl: var(--bs-orange-700-hsl);
    --bs-secondary-800-hsl: var(--bs-orange-800-hsl);
    --bs-secondary-900-hsl: var(--bs-orange-900-hsl);
    --bs-secondary-100: var(--bs-orange-100);
    --bs-secondary-200: var(--bs-orange-200);
    --bs-secondary-300: var(--bs-orange-300);
    --bs-secondary-400: var(--bs-orange-400);
    --bs-secondary-500: var(--bs-orange-500);
    --bs-secondary-600: var(--bs-orange-600);
    --bs-secondary-700: var(--bs-orange-700);
    --bs-secondary-800: var(--bs-orange-800);
    --bs-secondary-900: var(--bs-orange-900);
    --bs-secondary-hsl: var(--bs-orange-hsl);
    --bs-secondary: var(--bs-orange);
    --bs-secondary-foreground-hsl: var(--bs-orange-foreground-hsl);
    --bs-secondary-foreground: var(--bs-orange-foreground);
    --bs-secondary-text-emphasis-hsl: var(--bs-orange-text-emphasis-hsl);
    --bs-secondary-text-emphasis: var(--bs-orange-text-emphasis);
    --bs-secondary-hover-bg: var(--bs-orange-hover-bg);
    --bs-secondary-active-bg: var(--bs-orange-active-bg);
    --bs-secondary-bg-subtle: var(--bs-orange-bg-subtle);
    --bs-secondary-border-subtle: var(--bs-orange-border-subtle);
    --bs-secondary-checkbox-svg: var(--bs-orange-checkbox-svg);
    --bs-secondary-dash-svg: var(--bs-orange-dash-svg);
    --bs-secondary-radio-svg: var(--bs-orange-radio-svg);
    --bs-secondary-switch-svg: var(--bs-orange-switch-svg); */

  --bs-body-font-family: Oswald;

  --sidebar-width: 280px;
  --sidebar-width-collapsed: 0px;
}

@font-face {
  font-family: Oswald;
  src: url(/external/Oswald-VariableFont_wght.ttf);
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: var(--bs-primary-rgb);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.form-check-input:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn {
  --bs-btn-color: black;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-bg: none;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
}

#ui body {
  overflow: hidden;
  z-index: -2;
}

.no-wrap {
  white-space: nowrap;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
}

.fullheight {
  height: 100vh;
}

.toastify, .toast-close {
  color: var(--bs-dark);
  background: var(--bs-primary);
}
.toast-close {
  padding-left: 0px;;
}

/* #options {
  background-color: var(--bs-light);
  color: var(--bs-dark)
} */

#optionspanel {
  max-height: 100vh;
  max-width: 20em;
  min-width: 20em;
  width: 20em;
  display: inline-block;
}

.toolbox {
  display: flex;
  flex-wrap: wrap;
  gap: 1em; /* Space between buttons
  /* max-width: calc(64px * 4 + (4 - 1) * 10px); */
}

.toolbutton {
  display: block;
  border: 1px solid;
  padding-top: 0.3em;
  height: 4em;
  width: 4em;
  text-align: center;
  flex-shrink: 0; /* dont shrink */
  cursor: pointer;
}

#windows {
  width: 100vw;
  height: 100vh;
  position: absolute;
  pointer-events: none;
  z-index: 100;
}

.window {
  position: absolute; /* required for z-index to work */
  pointer-events: auto;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  max-width: 80vw;
  max-height: 98vw;
  z-index: 30;
}

.window-content {
    color: var(--bs-body-color);
  background: var(--bs-body-bg);
}

.window-wrapper {
  overflow: auto;
}

.window-front {
  z-index: 31;
}

/* show only when body data-bs-theme is dark */
[data-bs-theme="light"] .only-dark {
  display: none;
}
[data-bs-theme="dark"] .only-light {
  display: none;
}

#upperstatus {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
}

#progressbars {
  width: 600px;
}

.progress-bar {
  background-color: var(--bs-primary);
}

#status {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
}

#outerquery {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 0%);
}

#offlineblur {
  backdrop-filter: blur(5px);
}

#lower-left {
  position: absolute;
  left: 10px;
  bottom: 10px;
  white-space: nowrap;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.cursor-pointer {
  cursor: pointer;
}

.checkbox-button input[type='checkbox'],
.checkbox-button input[type='radio'] {
  display: none;
}

.checkbox-button input[type='checkbox']:checked+label.btn,
.checkbox-button input[type='radio']:checked+label.btn {
  background-color: var(--bs-primary);
  color: var(--bs-dark);
}
