name: Build and publish pre-release

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22'

    - name: Download cyclonedx-gomod
      uses: CycloneDX/gh-gomod-generate-sbom@v2
      with:
        version: v1

    - name: Build
      run: ./build.ps1
      shell: pwsh

    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "devbuild"
        prerelease: true
        title: "Development Build"
        files: |
          binaries/*